<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Trang dang nhap</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="css/login.css">
</head>
<body>
<div class="header">
    <li>
        <a href="/login">Home</a>
    </li>
</div>
<div class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4 full-section">
                <div class="row">
                    <div class="head-section">
                        <span>Login</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="body-section">
                            <div class="row">
                                <div class="col-md-12"><input type="text" name="username" placeholder="Username"></div>
                                <div class="col-md-12"><input type="password" name="password" placeholder="Password"></div>
                                <div class="col-md-12">
                                    <div class="full-submit">
                                        <div class="row">
                                            <div class="col-md-4"><input type="submit" name="login" value="Login"></div>
                                            <div class="col-md-4"><input type="submit" name="register" value="Register"></div>
                                            <div class="col-md-4"><input type="submit" name="forget" value="Forget Password"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12"><button class="gg"><a href="./auth/google">Login with Google</a></button></div>
                                <div class="col-md-12"><button class="fb"><a href="./auth/facebook">Login with Facebook</a></button></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4"></div>
        </div>
    </div>

</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</body>
</html>